.wrap {
  display: grid;
  grid-template-columns: 3fr 7fr;
  height: 100vh;
}

.container {
  background-image: url('../../assets/background.svg');
  background-size: cover;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  font-size: 150px;
  font-weight: 800;
  letter-spacing: -0.025em;
  margin: 0;
}

.timeLeft {
  font-size: 36px;
}

.buttonsWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 60px;
  width: 400px;
}

button:focus {
  outline: 0;
}

.timerButton {
  border: none;
  color: #110737;
  background-color: #2cdbec;
  border-radius: 42.5px;
  height: 85px;
}

.timerButton:hover {
  background: #fff;
}

.resetButton {
  align-self: center;
  background-color: #110737;
  border-radius: 10px;
  border: solid 2px #ff4a7e;
  color: #ff4a7e;
  height: 50px;
  margin-top: 35px;
  width: 140px;
}

.resetButton:hover {
  border-color: #fff;
  color: #fff;
}
