.container {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.container h2 {
  font-size: 5rem;
}

.buttonsWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
}

.container button {
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  padding: 20px;
  text-align: center;
}

button:focus {
  outline: 0;
}

.timerButton {
  background-color: rgb(34, 39, 48);
}

.resetButton {
  align-self: center;
  background-color: rgb(236, 62, 61);
  width: 100px;
}
