.wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.time {
  color: #2cdbec;
  font-size: 26px;
  font-weight: 500;
}

.buttonsWrap {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.button {
  background: transparent;
  border: none;
}

.icon {
  height: 36px;
  width: 36px;
}
