.wrap {
  display: flex;
  flex-direction: column;
  margin: 25px 42px 30px;
  justify-content: space-between;
  height: 80vh;
}

.headerWrap {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 75px 20px;
}

h4 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 500;
}

.editLabel {
  margin-right: 10px;
  text-align: right;
}

.editButton {
  height: 24px;
  width: 24px;
}

.droppableWrap {
  min-height: 100px;
}

.mobster {
  display: grid;
  grid-template-columns: 45px 1fr 24px;
  grid-column-gap: 10px;
  height: 45px;
  margin-bottom: 15px;
}

.addButton {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 28px;
  justify-content: center;
  margin-left: 12px;
  width: 28px;
}

.addButton:focus {
  outline: 2px solid #2cdbec;
}

.addButtonImage {
  height: 24px;
  width: 24px;
}

.addWrap {
  display: grid;
  grid-template-columns: 45px 1fr;
  grid-column-gap: 10px;
}

.avatarWrap {
  display: inline-block;
  position: relative;
}

.avatar {
  border-radius: 50%;
  width: 45px;
}

.driverDot {
  height: 13px;
  width: 13px;
  background-color: #f70c54;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.navigatorDot {
  height: 13px;
  width: 13px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.inputWrap {
  display: flex;
}

.name {
  color: #2cdbec;
  font-size: 18px;
  height: 28px;
  letter-spacing: normal;
  line-height: 1.56;
}

.githubName {
  font-size: 14px;
  font-weight: 500;
}

.userInput {
  background: rgb(17, 6, 54);
  border: none;
  border-bottom: 1px solid #2cdbec;
  color: #caf5ff;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
  width: 100%;
}

input::-webkit-input-placeholder {
  color: #caf5ff;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

input:hover {
  background-color: rgb(17, 6, 54);
}

input:active,
input:focus {
  outline: none;
}
